In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Load dataset automobile_data.csv file
df=pd.read_csv("/content/drive/MyDrive/ItVedantPythonAWPClasswork/Automobile_data (4).csv")

In [ ]:
#To display first 5 records
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [ ]:
df.describe

<bound method NDFrame.describe of      symboling normalized-losses         make fuel-type   body-style  \
0            3                 ?  alfa-romero       gas  convertible
1            3                 ?  alfa-romero       gas  convertible
2            1                 ?  alfa-romero       gas    hatchback
3            2               164         audi       gas        sedan
4            2               164         audi       gas        sedan
..         ...               ...          ...       ...          ...
200         -1                95        volvo       gas        sedan
201         -1                95        volvo       gas        sedan
202         -1                95        volvo       gas        sedan
203         -1                95        volvo    diesel        sedan
204         -1                95        volvo       gas        sedan

    drive-wheels engine-location  width  height engine-type  engine-size  \
0            rwd           front   64.1    48.8        dohc          130
1            rwd           front   64.1    48.8        dohc          130
2            rwd           front   65.5    52.4        ohcv          152
3            fwd           front   66.2    54.3         ohc          109
4            4wd           front   66.4    54.3         ohc          136
..           ...             ...    ...     ...         ...          ...
200          rwd           front   68.9    55.5         ohc          141
201          rwd           front   68.8    55.5         ohc          141
202          rwd           front   68.9    55.5        ohcv          173
203          rwd           front   68.9    55.5         ohc          145
204          rwd           front   68.9    55.5         ohc          141

    horsepower  city-mpg  highway-mpg  price
0          111        21           27  13495
1          111        21           27  16500
2          154        19           26  16500
3          102        24           30  13950
4          115        18           22  17450
..         ...       ...          ...    ...
200        114        23           28  16845
201        160        19           25  19045
202        134        18           23  21485
203        106        26           27  22470
204        114        19           25  22625

[205 rows x 15 columns]>

In [ ]:
#First check null values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [ ]:
c=0
for i,data in enumerate(df['normalized-losses']):
    if not data.isnumeric():
        c=c+1
        print(i," " ,data)
print("No. of special chars : ",c)

0   ?
1   ?
2   ?
5   ?
7   ?
9   ?
14   ?
15   ?
16   ?
17   ?
43   ?
44   ?
45   ?
46   ?
48   ?
49   ?
63   ?
66   ?
71   ?
73   ?
74   ?
75   ?
82   ?
83   ?
84   ?
109   ?
110   ?
113   ?
114   ?
124   ?
126   ?
127   ?
128   ?
129   ?
130   ?
131   ?
181   ?
189   ?
191   ?
192   ?
193   ?
No. of special chars :  41

In [ ]:
#Replace '?' of normalised-losses with null values permanent
df["normalized-losses"].replace("?",np.nan,inplace=True)
#syntaX: replace("old value","new value",inplace=True)

In [ ]:
#To check null values
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [ ]:
#To change the datatype of normalized-losses from object to float
#permanent : use inbuilt method astype()
df["normalized-losses"]=df["normalized-losses"].astype("float")

In [ ]:
#Fill null values with average/mean of normalized-losses column in 
#normalized-losses column permanent
m=df["normalized-losses"].mean()
df["normalized-losses"].fillna(m,inplace=True)

In [ ]:
c=0
for i,data in enumerate(df['horsepower']):
    if not data.isnumeric():
        c=c+1
        print(i," " ,data)
print("No. of special chars : ",c)

130   ?
131   ?
No. of special chars :  2

In [ ]:
#Replace '?' of horsepower with null values permanent
df["horsepower"].replace("?",np.nan,inplace=True)

In [ ]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           2
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
#To change the datatype of horsepower   from object to float
#permanent : use inbuilt method astype()
df["horsepower"]=df["horsepower"].astype("float")

In [ ]:
#Fill null values with average/mean of horsepower column in 
#horsepower column permanent
m=df["horsepower"].mean()
df["horsepower"].fillna(m,inplace=True)

In [ ]:
#again check null values in given dataset
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [ ]:
df.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [ ]:
#separate numerical type column and object type column and store in new dataset
df_num=df.select_dtypes(["int64","float64"])#hold to int and float type data 
df_cat=df.select_dtypes(object)#hold object type data

In [ ]:
df_num.dtypes

symboling              int64
normalized-losses    float64
width                float64
height               float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [ ]:
df_cat.dtypes

make               object
fuel-type          object
body-style         object
drive-wheels       object
engine-location    object
engine-type        object
dtype: object

In [ ]:
#change the object type data into numerical type then use LabelEncoder class
from sklearn.preprocessing import LabelEncoder

In [ ]:
for col in df_cat :
    le=LabelEncoder() #create the object of LabelEncoder class
    df_cat[col]=le.fit_transform(df_cat[col])

In [ ]:
df_cat.head()

   make  fuel-type  body-style  drive-wheels  engine-location  engine-type
0     0          1           0             2                0            0
1     0          1           0             2                0            0
2     0          1           2             2                0            5
3     1          1           3             1                0            3
4     1          1           3             0                0            3

In [ ]:
#concatenation of both dataset df_num and df_cat and hold new dataset df_new
df_new=pd.concat([df_num,df_cat],axis=1) #axis=1 column wise
df_new.head()

,symboling,normalized-losses,width,height,engine-size,horsepower,city-mpg,highway-mpg,price,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,3,122.0,64.1,48.8,130,111.0,21,27,13495,0,1,0,2,0,0
1,3,122.0,64.1,48.8,130,111.0,21,27,16500,0,1,0,2,0,0
2,1,122.0,65.5,52.4,152,154.0,19,26,16500,0,1,2,2,0,5
3,2,164.0,66.2,54.3,109,102.0,24,30,13950,1,1,3,1,0,3
4,2,164.0,66.4,54.3,136,115.0,18,22,17450,1,1,3,0,0,3

In [ ]:
df_new.dtypes

symboling              int64
normalized-losses    float64
width                float64
height               float64
engine-size            int64
horsepower           float64
city-mpg               int64
highway-mpg            int64
price                  int64
make                   int64
fuel-type              int64
body-style             int64
drive-wheels           int64
engine-location        int64
engine-type            int64
dtype: object

In [ ]:
#19th May
#select input and output from df_new dataframe
X=df_new.drop('price',axis=1) #input
Y=df_new['price'] #output

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [ ]:
#train the model with Linearregression algo
from sklearn.linear_model import LinearRegression
#create object of linearegression class
lr=LinearRegression()

In [ ]:
#train the model with 70% data
lr.fit(X_train,Y_train)

LinearRegression()

In [ ]:
X.shape

(205, 14)

In [ ]:
#to check coefficient or slope
m1=lr.coef_ #here m1 is a list object 
#print(m1)
#list comprehention
m1=[np.round(i,2) for i in m1]
print(m1)

[45.14, 1.53, 789.45, 362.66, 98.37, -10.82, 308.02, -417.02, -200.1, -622.65, -170.24, 1868.61, 16413.36, 283.17]

In [ ]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [ ]:
#find training score, us einbuilt method of linearregression
lr.score(X_train,Y_train)

0.8504573774895473

In [ ]:
lr.score(X_test,Y_test)
#model is overfit as lr.score(X_train,Y_train) > lr.score(X_test,Y_test)
# 0.8504573774895473 > 0.7965566780397381 orverfit

0.7965566780397381

In [ ]:
#test the model with 30% data
Y_pred=lr.predict(X_test)
#find r2_score
from sklearn.metrics import r2_score
r2_score(Y_test,Y_pred) 
#lr.score(X_test,Y_test) == r2_score(Y_test,Y_pred)

0.7965566780397381

In [ ]:
#there clearly , model is overfitting why?
#because training score> testing score
#means training error < testing error
#to reduce overfit, use Regularisation technique

In [ ]:
#lasso 200-1000
''' Add some error during training time 
   1. Lasso Regularization : L1  
   RSS Error+lambda*sum(abs(all coefficient or slope)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 200,400,600,..1000
   2. Ridge Regularization : L2
   RSS Error+lambda*sum(square(all coefficient)) here lambda is also known as 
   hyper-parameter, value of lambda  can be 0 to 50
'''

' Add some error during training time \n   1. Lasso Regularization : L1  \n   RSS Error+lambda*sum(abs(all coefficient or slope)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 200,400,600,..1000\n   2. Ridge Regularization : L2\n   RSS Error+lambda*sum(square(all coefficient)) here lambda is also known as \n   hyper-parameter, value of lambda  can be 0 to 50\n'

In [ ]:
from sklearn.linear_model import Lasso

In [ ]:
#create object of Lasso class
L1=Lasso(200) #passing the value of lambda(hyper-parameter)

In [ ]:
#train the model with lasso with 70% data
L1.fit(X_train,Y_train)

Lasso(alpha=200)

In [ ]:
#check slope/coefficient after add error on trainned time (with Lasso)
slope_L1=L1.coef_
slope_L1
Slope_L1=[np.round(i,2) for i in slope_L1] #list comprehension
print(Slope_L1)

[0.0, 2.07, 323.43, 469.42, 115.55, 14.28, 36.3, -124.78, -167.46, -0.0, -405.12, 1112.43, 2094.63, 305.82]

In [ ]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [ ]:
#create a dictionary 
dict={'Input':X.columns,'Slope_before':m1,'Slope_After_Lasso':Slope_L1}
#convert to dataframe
df1=pd.DataFrame(dict)
df1

                Input  Slope_before  Slope_After_Lasso
0           symboling         45.14               0.00
1   normalized-losses          1.53               2.07
2               width        789.45             323.43
3              height        362.66             469.42
4         engine-size         98.37             115.55
5          horsepower        -10.82              14.28
6            city-mpg        308.02              36.30
7         highway-mpg       -417.02            -124.78
8                make       -200.10            -167.46
9           fuel-type       -622.65              -0.00
10         body-style       -170.24            -405.12
11       drive-wheels       1868.61            1112.43
12    engine-location      16413.36            2094.63
13        engine-type        283.17             305.82

In [ ]:
#check error of training 

print('training error: ',L1.score(X_train,Y_train))

training error:  0.798741697000666

In [ ]:
#check error of testing

print('testing error: ',L1.score(X_test,Y_test))

testing error:  0.8139201358023779

In [ ]:
# right method  to select the value of lambda/alpha(Hyper parameter) 
#in case of Lasso (200-1000)
for i in range(200,1001,50):  #start=200  stop=1001-1=1000 step=50
    #create the object of Lasso class
    L1=Lasso(i) #passing the value of lamda means i=200 , next i=250 then 300...
    #train the model with 70% data
    L1.fit(X_train,Y_train)
    print("Value of Lambda : {}".format(i))
    score1=L1.score(X_train,Y_train).round(2)
    print("training Score : {}".format(score1))
    score2=L1.score(X_test,Y_test).round(2)
    print("testing Score : {}".format(score2))
    print("\n")

Value of Lambda : 200
training Score : 0.8
testing Score : 0.81


Value of Lambda : 250
training Score : 0.78
testing Score : 0.81


Value of Lambda : 300
training Score : 0.78
testing Score : 0.81


Value of Lambda : 350
training Score : 0.77
testing Score : 0.8


Value of Lambda : 400
training Score : 0.77
testing Score : 0.8


Value of Lambda : 450
training Score : 0.76
testing Score : 0.8


Value of Lambda : 500
training Score : 0.76
testing Score : 0.79


Value of Lambda : 550
training Score : 0.76
testing Score : 0.79


Value of Lambda : 600
training Score : 0.76
testing Score : 0.79


Value of Lambda : 650
training Score : 0.76
testing Score : 0.79


Value of Lambda : 700
training Score : 0.76
testing Score : 0.79


Value of Lambda : 750
training Score : 0.76
testing Score : 0.79


Value of Lambda : 800
training Score : 0.76
testing Score : 0.79


Value of Lambda : 850
training Score : 0.76
testing Score : 0.79


Value of Lambda : 900
training Score : 0.76
testing Score : 0.79


Value of Lambda : 950
training Score : 0.76
testing Score : 0.79


Value of Lambda : 1000
training Score : 0.76
testing Score : 0.79

In [ ]:
#in Lasso ,score = 0.81 and lambda =200

In [ ]:
#Apply Ridge Regularisation ,value of lambda=0-50
from sklearn.linear_model import Ridge
#RSS+lambda*sum(square(all slope)) in ridge L2
#RSS+lambda*sum(absolute(all slope)) in lasso L1

In [ ]:
#choose right value of lambda in Ridge Regularisation
for i in range(0,51,1): #start =0  stop=51-1=50 step=+1
    #create the object of Ridge class
    L2=Ridge(i) #passing the value of lambda means i=0 next i=1  so on
    #train the model with 70% data after add error
    L2.fit(X_train,Y_train)
    print("Value of Lambda : {}".format(i))
    score1=L2.score(X_train,Y_train).round(2)
    print("training Score : {}".format(score1))
    score2=L2.score(X_test,Y_test).round(2)
    print("testing Score : {}".format(score2))
    print("\n")

Value of Lambda : 0
training Score : 0.85
testing Score : 0.8


Value of Lambda : 1
training Score : 0.84
testing Score : 0.81


Value of Lambda : 2
training Score : 0.84
testing Score : 0.81


Value of Lambda : 3
training Score : 0.83
testing Score : 0.81


Value of Lambda : 4
training Score : 0.83
testing Score : 0.81


Value of Lambda : 5
training Score : 0.82
testing Score : 0.81


Value of Lambda : 6
training Score : 0.82
testing Score : 0.81


Value of Lambda : 7
training Score : 0.82
testing Score : 0.81


Value of Lambda : 8
training Score : 0.81
testing Score : 0.81


Value of Lambda : 9
training Score : 0.81
testing Score : 0.81


Value of Lambda : 10
training Score : 0.81
testing Score : 0.82


Value of Lambda : 11
training Score : 0.81
testing Score : 0.82


Value of Lambda : 12
training Score : 0.81
testing Score : 0.82


Value of Lambda : 13
training Score : 0.81
testing Score : 0.81


Value of Lambda : 14
training Score : 0.81
testing Score : 0.81


Value of Lambda : 15
training Score : 0.81
testing Score : 0.81


Value of Lambda : 16
training Score : 0.8
testing Score : 0.81


Value of Lambda : 17
training Score : 0.8
testing Score : 0.81


Value of Lambda : 18
training Score : 0.8
testing Score : 0.81


Value of Lambda : 19
training Score : 0.8
testing Score : 0.81


Value of Lambda : 20
training Score : 0.8
testing Score : 0.81


Value of Lambda : 21
training Score : 0.8
testing Score : 0.81


Value of Lambda : 22
training Score : 0.8
testing Score : 0.81


Value of Lambda : 23
training Score : 0.8
testing Score : 0.81


Value of Lambda : 24
training Score : 0.8
testing Score : 0.81


Value of Lambda : 25
training Score : 0.8
testing Score : 0.81


Value of Lambda : 26
training Score : 0.8
testing Score : 0.81


Value of Lambda : 27
training Score : 0.8
testing Score : 0.81


Value of Lambda : 28
training Score : 0.8
testing Score : 0.81


Value of Lambda : 29
training Score : 0.8
testing Score : 0.81


Value of Lambda : 30
training Score : 0.8
testing Score : 0.81


Value of Lambda : 31
training Score : 0.8
testing Score : 0.81


Value of Lambda : 32
training Score : 0.8
testing Score : 0.81


Value of Lambda : 33
training Score : 0.8
testing Score : 0.81


Value of Lambda : 34
training Score : 0.8
testing Score : 0.81


Value of Lambda : 35
training Score : 0.8
testing Score : 0.81


Value of Lambda : 36
training Score : 0.79
testing Score : 0.81


Value of Lambda : 37
training Score : 0.79
testing Score : 0.81


Value of Lambda : 38
training Score : 0.79
testing Score : 0.81


Value of Lambda : 39
training Score : 0.79
testing Score : 0.81


Value of Lambda : 40
training Score : 0.79
testing Score : 0.81


Value of Lambda : 41
training Score : 0.79
testing Score : 0.81


Value of Lambda : 42
training Score : 0.79
testing Score : 0.81


Value of Lambda : 43
training Score : 0.79
testing Score : 0.81


Value of Lambda : 44
training Score : 0.79
testing Score : 0.81


Value of Lambda : 45
training Score : 0.79
testing Score : 0.81


Value of Lambda : 46
training Score : 0.79
testing Score : 0.81


Value of Lambda : 47
training Score : 0.79
testing Score : 0.81


Value of Lambda : 48
training Score : 0.79
testing Score : 0.81


Value of Lambda : 49
training Score : 0.79
testing Score : 0.81


Value of Lambda : 50
training Score : 0.79
testing Score : 0.81

In [ ]:
#in ridge , value of lambda=8
L2=Ridge(8) #passing the value of Lambda=8
#train the model with 70% data after add error
L2.fit(X_train,Y_train)

Ridge(alpha=8)

In [ ]:
#check slope/coefficient after add error on trainned time (with Lasso)
slope_L2=L2.coef_
slope_L2
Slope_L2=[np.round(i,2) for i in slope_L2] #list comprehension
print(Slope_L2)

[208.7, -0.84, 376.12, 568.79, 103.58, 21.11, 214.99, -278.92, -187.8, -979.1, -623.8, 1646.46, 3075.4, 519.91]

In [ ]:
X.columns

Index(['symboling', 'normalized-losses', 'width', 'height', 'engine-size',
       'horsepower', 'city-mpg', 'highway-mpg', 'make', 'fuel-type',
       'body-style', 'drive-wheels', 'engine-location', 'engine-type'],
      dtype='object')

In [ ]:
#create a dictionary 
dict={'Input':X.columns,'Slope_before':m1,'Slope_After_Ridge':Slope_L2}
#convert to dataframe
df1=pd.DataFrame(dict)
df1

                Input  Slope_before  Slope_After_Ridge
0           symboling         45.14             208.70
1   normalized-losses          1.53              -0.84
2               width        789.45             376.12
3              height        362.66             568.79
4         engine-size         98.37             103.58
5          horsepower        -10.82              21.11
6            city-mpg        308.02             214.99
7         highway-mpg       -417.02            -278.92
8                make       -200.10            -187.80
9           fuel-type       -622.65            -979.10
10         body-style       -170.24            -623.80
11       drive-wheels       1868.61            1646.46
12    engine-location      16413.36            3075.40
13        engine-type        283.17             519.91

In [ ]:
#In Ridge , Lambda =8 and testing score = 81%
#In Lasso , Lambda=200 and Testing score=81%

In [ ]:
#cross validation
from sklearn.model_selection import cross_val_score
#cross_val_score inbuilt class for cross_validation 
#How to decided , Lasso is better or Ridge is better omn this dataset 
#Apply cross validation
#from sklearn.model_selection import cross_val_score 
#cross_val_score  inbuilt class for cross validation

In [ ]:
#create the object of lasso(apply cross validation in lasso)
L1=Lasso(200) #pass the value of lambda=200

In [ ]:
#create the object for cross_val_score for lasso(for cross val)
cross_L1=cross_val_score(L1,X,Y,cv=4) #diviting data to 4 parts
#cross_val_score(object of lasso class,input,output,no. of partition)
#here l1 object of Lasso and 
#X input and Y output and  cv means divided the no. of parts of data=4

In [ ]:
print(cross_L1) #score of each part

[0.76560829 0.81872367 0.43344753 0.448364  ]

In [ ]:
#to find avrage of score means mean of all score of cross_L1  
m1=cross_L1.mean()
print("Average score in cross validation in Lasso : ",m1)

Average score in cross validation in Lasso :  0.6165358705430691

In [ ]:
#create the object of ridge(apply cross validation in ridge)
L2=Ridge(8) #pass the value of ridge=8

In [ ]:
cross_L2=cross_val_score(L2,X,Y,cv=4) #diviting data to 4 parts

In [ ]:
print(cross_L2) #score of each part Ridge

[0.735549   0.86209293 0.39915737 0.45518733]

In [ ]:
#to find avrage of score means mean of all score of cross_L2 Ridge
m1=cross_L2.mean()
print("Average score in cross validation in Ridge : ",m1)

Average score in cross validation in Ridge :  0.6129966564859666

In [ ]:
#Mean of Lasso is greater than Ridge so Select Lasso Regularization
#in this dataset
#mean of lasso regularization : 0.616
#mean of Ridge regularization : 0.612
#in this dataset automobile_data.csv, Lasso regularisation is best as 
#compared to Ridge regularisation because average means mean of  of  score
#of lasso is greater than ridge regularisation